In [30]:
# library
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

import lightgbm as lgbm

In [4]:
data=pd.read_csv("C:\\Users\\Abhishek\\Downloads\\baseball.csv")

In [32]:
data.head()

              Name Team       Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL        Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL        Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL        Catcher      72     210  30.78     Catcher
3     Kevin_Millar  BAL  First_Baseman      72     210  35.43   Infielder
4      Chris_Gomez  BAL  First_Baseman      73     188  35.71   Infielder

In [33]:
data.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         1015 non-null   object
 1   Team         1015 non-null   object
 2   Position     1015 non-null   object
 3   Height       1015 non-null   int64
 4   Weight       1015 non-null   int64
 5   Age          1015 non-null   float64
 6   PosCategory  1015 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 55.6+ KB

In [35]:
data.Position.value_counts().sort_index()

Position
Catcher              76
First_Baseman        55
Outfielder          194
Relief_Pitcher      315
Second_Baseman       58
Shortstop            52
Starting_Pitcher    220
Third_Baseman        45
Name: count, dtype: int64

In [36]:
data.describe()

            Height       Weight          Age
count  1015.000000  1015.000000  1015.000000
mean     73.689655   201.348768    28.708355
std       2.313932    20.823115     4.314453
min      67.000000   150.000000    20.900000
25%      72.000000   186.000000    25.405000
50%      74.000000   200.000000    27.900000
75%      75.000000   215.000000    31.190000
max      83.000000   290.000000    48.520000

In [38]:
data.Team.value_counts()

Team
NYM    38
ATL    37
CHC    36
OAK    36
DET    36
WAS    36
CIN    35
ANA    35
BOS    35
PIT    35
MLW    35
PHI    35
SF     34
HOU    34
COL    34
BAL    34
TEX    34
KC     34
SEA    34
CLE    34
LA     33
FLA    32
TOR    32
TB     32
SD     32
STL    32
CWS    31
MIN    31
NYY    31
ARZ    28
Name: count, dtype: int64

In [39]:
data.Weight.value_counts()

Weight
200    106
190     97
180     81
220     72
210     71
      ...
290      1
233      1
278      1
226      1
163      1
Name: count, Length: 88, dtype: int64

In [40]:
data.Height.value_counts()

Height
74    173
73    162
75    155
72    150
76    101
71     89
77     55
70     51
78     27
69     19
79     14
68      7
80      5
81      2
82      2
67      2
83      1
Name: count, dtype: int64

In [41]:
data.Age.value_counts()

Age
24.94    7
24.63    5
27.12    5
26.77    4
27.99    4
        ..
26.65    1
32.95    1
29.04    1
26.06    1
27.92    1
Name: count, Length: 716, dtype: int64

In [42]:
data.Name.value_counts()

Name
Tony_Pe?a            2
Chris_Young          2
Ambiorix_Burgos      1
LaTroy_Hawkins       1
Tom_Martin           1
                    ..
Ross_Gload           1
Esteban_German       1
Mark_Grudzielanek    1
Angel_Sanchez        1
Josh_Kinney          1
Name: count, Length: 1013, dtype: int64